body {
    background: #101010;
    color: white;
    font-family: sans-serif;
}

a {
    color: skyblue;
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

.app-name {
    font-weight: bold;
    color: inherit;
}

.card-img, .card-base {
    max-height: 200px;
}

#game-log {
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-top: .5vh solid #aaaaaa;
    background: #333333;
}
