<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of cards</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#000000">
  <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" type="image/png" sizes="16x16">
  <style>
    body {
      background: black;
      font-family: sans-serif;
      color: white;
    }
    a {
      text-decoration: none;
      color: crimson;
    }
    table {
      border-collapse: collapse;
    }
    thead {
      border-bottom: 2px solid black;
    }
    th {
      text-align: left;
    }
  </style>
</head>
<body>
<a href="/">&larr; Back to game</a>
<h1>List of cards</h1>
{% for type in card_types %}
<h2>{{ type.name }} cards</h2>
<table>
  <thead>
    <tr><th>Name</th><th>Text</th></tr>
  </thead>
  <tbody>
{%- for card in cards[type.id] %}
    <tr><th>{{ card.name }}</th><td>{{ card.text }}</td></tr>
{%- endfor %}
  </tbody>
</table>
{% endfor %}
</body>
</html>
