<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ config.APPLICATION_NAME }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script>
    const dionysos = {
      config: {
        adminEmail: {{ config.ADMIN_EMAIL|tojson }},
        csrfCookie: {{ config.CSRF_COOKIE|tojson }},
        csrfDataKey: {{ config.CSRF_DATA_KEY|tojson }},
        csrfHeader: {{ config.CSRF_HEADER|tojson }},
        maxCreatedGames: {{ config.MAX_CREATED_GAMES|tojson }},
        maxPlayersDefault: {{ config.MAX_PLAYERS_DEFAULT|tojson}},
        maxPlayersMin: {{ config.MAX_PLAYERS_MIN|tojson }},
        maxPlayersMax: {{ config.MAX_PLAYERS_MAX|tojson }},
        minPlayersToStart: {{ config.MIN_PLAYERS_TO_START|tojson }}
      },
      paths: {
        index: {{ url_for('index')|tojson }},
        login: {{ url_for('login')|tojson }},
        logout: {{ url_for('logout')|tojson }},
        cards: {{ url_for('cards')|tojson }},
        game: id => {{ url_for('index', game_id='GAME_ID')|tojson }}.replace('GAME_ID', id),
        games: {{ url_for('games')|tojson }},
        cardImgDir: {{ url_for('static', filename=config.CARDS_URL)|tojson }},
        cardBaseDir: {{ url_for('static', filename=config.CARD_BASES_URL)|tojson }}
      },
      initialUser: {% if user %}{
        id: {{ user.id|tojson }},
        name: {{ user.name|tojson }}
      }{% else %}null{% endif %},
      initialGame: {% if game_id %}{{ game_id|tojson }}{% else %}null{% endif %},
      language: 'eng',
      messages: {}
    };
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha256-oE03O+I6Pzff4fiMqwEGHbdfcW7a3GRRxlL+U49L5sA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js" integrity="sha512-vs7+jbztHoMto5Yd/yinM4/y2DOkPLt0fATcN+j+G4ANY2z4faIzZIOMkpBmWdcxt+596FemCh9M18NUJTZwvw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/messages-eng.js') }}"></script>
</head>
<body>
<h1><a class="app-name" href="{{ url_for('index') }}">{{ config.APPLICATION_NAME }}</a> &ndash; a party game for drunken people (<a href="https://github.com/pettinen/dionysos">git</a> | <a href="/cards">list of cards</a>)</h1>
<p>Yes, this looks awful. Which is why I&rsquo;m not a designer. Also I&rsquo;m still building the backend.</p>
<p>Don&rsquo;t try to play this using anything older than the latest versions of Firefox or Chrome. It&rsquo;s gonna break (even more).</p>
<div id="settings">
  <div style="float: right;">
  <h2>Current user</h2>
  <ul>
    <li>ID: <span data-bind="text: user() ? user().id : 'none'"></span></li>
    <li>Name: <span data-bind="text: user() ? user().name : 'none'"></span></li>
  </ul>
  </div>

  <h2>Settings</h2>
  <p>Test users: Doris, Jorma, Sisu, Tapio, Valdemar</p>
  <p>(password = username in lowercase)</p>
  <!-- ko if: user -->
  <form data-bind="submit: logout">
    <button type="submit">Logout</button>
  </form>
  <!-- /ko -->
  <!-- ko ifnot: user -->
  <form data-bind="submit: login">
    <label>Username: <input type="text" value="{{ user.name }}" data-bind="value: username"></label><br>
    <label>Password: <input type="password" data-bind="value: password"></label><br>
    <button type="submit">Login</button>
  </form>
  <!-- /ko -->
</div>

<div id="games" data-bind="if: visible">
  <div id="games-list" data-bind="if: passwordPrompt() === null">
  <h2>Games</h2>
  <ul data-bind="foreach: joinableGames">
    <li>
      <strong data-bind="text: name"></strong> by <span data-bind="text: creator.name"></span> (<span data-bind="text: playerCount"></span>/<span data-bind="text: maxPlayers"></span> players)
      <form data-bind="if: canJoin, submit: tryJoin">
        <button type="submit">Join<!-- ko if: passwordProtected --> (private)<!-- /ko --></button>
      </form>
    </li>
  </ul>
  </div>
  <form data-bind="if: passwordPrompt() !== null, submit: joinGame">
    <button data-bind="click: cancelPasswordPrompt">&larr; back</button>
    <label>Game password: <input type="text" data-bind="value: gamePassword"></label>
    <button type="submit">Submit</button>
  </form>

  <!-- ko if: canCreateGame -->
  <h3>New game</h3>
  <form data-bind="submit: createGame">
    <label>Name: <input type="text" id="newgame-name" data-bind="value: newGame.name"></label><br>
    <label>Password: <input type="text" data-bind="value: newGame.password"></label><br>
    <label>Max players:
      <select data-bind="value: newGame.maxPlayers">
      {%- for n in range(config.MAX_PLAYERS_MIN, config.MAX_PLAYERS_MAX + 1) %}
        <option value="{{ n }}">{{ n }}</option>
      {%- endfor %}
      </select>
    </label>
    <button type="submit">Create new game</button>
  </form>
  <!-- /ko -->
</div>

<div id="current-game" data-bind="if: game">
  <div style="float: right;">
    <h2>Current game</h2>
    <p>Link: <a data-bind="text: url, attr: { href: url }"></a></p>
    <p>Players:</p>
    <ul data-bind="foreach: players">
      <li data-bind="text: name"></li>
    </ul>

    <!-- ko if: currentPlayer -->
    <p>In turn: <!-- ko text: currentPlayer().name --><!-- /ko --></p>
    <!-- /ko -->

    <p>Active cards (all):</p>
    <ul data-bind="foreach: activeCards('all')">
      <li data-bind="text: name"></li>
    </ul>

    <!-- ko foreach: players -->
    <p>Active cards (<!-- ko text: name --><!-- /ko -->):</p>
    <ul data-bind="foreach: $parent.activeCards(id)">
      <li data-bind="text: name"></li>
    </ul>
    <!-- /ko -->

    <p>Use cards:</p>
    <ul data-bind="foreach: useCards">
      <li>
        <!-- ko text: name --><!-- /ko -->
        <button type="button" data-bind="click: use">Use</button>
      </li>
    </ul>

    <button type="button" data-bind="click: leave">Leave game</button>
    <button type="button" data-bind="click: start, visible: canStart">Start game</button>
  </div>

  <div id="gameplay" data-bind="if: inProgress">
    <button data-bind="click: drawCard, if: canDraw">Draw card</button>

    <div id="use-cards">
      <h2>Use cards</h2>
      <ul data-bind="foreach: useCards">
        <li>
          <span class="card-name" data-bind="text: name"></span>
          <button data-bind="click: use">Use</button>
        </li>
      </ul>
    </div>

    <div class="card" data-bind="with: lastCard">
      <h2 data-bind="html: name"></h2>
      <p data-bind="html: text"></p>
      <img class="card-img" alt="Card image" data-bind="attr: {src: $parent.cardImgURL(imgURL)}">
      <img class="card-base" alt="Card base" data-bind="attr: {src: $parent.cardBaseURL(baseURL)}">
    </div>

    <ul id="game-log" data-bind="foreach: gameLog">
      <li data-bind="text: $data"></li>
    </ul>
  </div>
</div>
</body>
</html>
