body {
    background: #101010;
    color: white;
    font-family: sans-serif;
}

a {
    color: skyblue;
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

.app-name {
    font-weight: bold;
    color: inherit;
}

.card {
    width: 21vh;
    height: 30vh;
    color: black;
    font-size: 1.2vh;
}
.card img {
    display: block;
}
.card p {
    position: relative;
    left: 5%;
    top: -96%;
    width: 88%;
    height: 28%;
    padding: 0 1%;
}
.card h2 {
    position: relative;
    left: 5%;
    top: -149.2%;
    width: 90%;
    font-size: 125%;
}
.card-base {
    height: 100%;
}
.card-img {
    position: relative;
    height: 47.35%;
    top: -91%;
    left: 4%;
}

#game-log {
    display: none;
    height: 10vh;
    position: absolute;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-top: .5vh solid #aaaaaa;
    background: #333333;
}
